body {
	background-color: #e6e6e6;
	color: blue;
}

#Title
{
	text-align: center 
}

#Main-Board
{
	border: hidden;
	height: 500px;
	width: 500px;
	margin: auto;
}



#Main-Board > tr
{
	border-top: 5px solid;
	border-top-color: #cc0000;
}

#Main-Board > tr > td
{
	border-right: 5px solid;
	border-right-color: #cc0000;
}

#Main-Board > tr > td > table> tr > td
{
	width: 33%;
}

tr 
{
	height: 33%;
}

tr,td
{
	border: 1px solid black;
	white-space: nowrap;
	padding: 0px;
	text-align: center;
}

table
{
	border-collapse: collapse;
	margin: auto;
	height: 200px;
	width:  200px;
	border: hidden;
}

